include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include pytest.ini
recursive-include anges/configs *
recursive-include anges/prompt_templates *
recursive-include anges/web_interface/static *
recursive-include anges/web_interface/templates *
recursive-include anges *.py
recursive-include anges *.json
recursive-include anges *.yaml
recursive-include anges *.yml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]